[submodule "server"]
	path = server
	url = https://github.com/wooportal/server-next
[submodule "client"]
	path = client
	url = https://github.com/codeschluss/jugendwerkstatt
[submodule "specs"]
	path = specs
	url = https://github.com/codeschluss/jugendwerkstatt.specs
